@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Gugi&family=Hi+Melody&family=Song+Myung&display=swap');

/* 
font-family: 'Playfair Display', serif;
font-family: 'Hi Melody', cursive;
font-family: 'Song Myung', serif;
font-family: 'Gugi', cursive;
*/

html, body{
    overflow-x: hidden;
    font-size: 10px;
    height: 100%;
}

.head{
    width: 100vw;
    height: 30px;
    background-color: rgb(255, 139, 139);
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    z-index: 99999;
}

main{
  height: calc(100vh - 230px);
}

.logo{
    margin-left: 10px;
}
.logo a img{
    height: 30px;
}
.logo a span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #8a0017; 
    position: absolute;
    padding: 0 5px;
}

.ham{
    display: block;
    width: 22px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
}
.ham span{
    width: 22px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    transition: .3s;
}

.ham span:nth-child(2){
    top: 12px;
}

.ham span:nth-child(3){
    top: 20px;
    width: 16px;
    left: 6px;
}

body.on{
  height: 100vh;
  overflow: hidden;
}

body.on .ham span:nth-child(1){
    rotate: 45deg;
    width: 22px;
    top: 13px;
}
body.on .ham span:nth-child(2){
    opacity: 0;
}
body.on .ham span:nth-child(3){
    rotate: -45deg;
    width: 22px;
    top: 13px;
    left: 0px;
}

/* gnb start */
.gnb{
    position: absolute;
    transition: .3s;
    left: 100%;
    opacity: .5;
}

body.on .gnb{
    left: 0%; 
    opacity: 1;
}

.def{
  cursor: default;
}

/* search */
.search{
    background-color: rgb(255, 93, 93);
    text-align: center;
}

.search input{
  text-transform: uppercase;
  text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px 0 10px 32px;
}

.search button{
    height: 17px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.search button i{
    color: rgb(190, 0, 0);
}

/* navi */
.navi {
    margin-top: 0px;
    background-color: #FFF2F2;
    z-index: 999;
    width: 100vw;
    height: calc(100vh - 70px);
}

.navi>ul>li{
    width: 100%;
    text-align: center;
}

/* li vertical line */
.navi>ul>li+li::before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    margin-left: 5px;
}

/* li a */
.navi>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    transition: .4s; 
}

/* a:hover */
.navi>ul>li:hover>a{
    background-color: rgb(139, 0, 0);
    color: #FFF2F2;
}

/* text underline */
.navi>ul>li>a>span, .mnu>ul>li>a{
    position: relative;
}

/* text underline */
.navi>ul>li>a>span::after, .mnu>ul>li>a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: width .2s ease-out;
}

/* 상위메뉴 오버시 가상요소 밑줄애니 */
.navi>ul>li:hover>a>span::after, .mnu>ul>li:hover>a::after{
    width: 100%;
    transition-delay: 0.3s;
}

/* 서브메뉴 */
.smenu{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgb(139, 0, 0);
    transition: 0.3s;
}

/* 상위메뉴 li 오버시 서브메뉴 보이기 - 2번 li */
.navi>ul>li:nth-child(2):hover .smenu{
    height: 115px;  
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 3번 li */
.navi>ul>li:nth-child(3):hover .smenu{
    height: 185px;
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 4번 li */
.navi>ul>li:nth-child(4):hover .smenu{
    height: 115px;
}

/* 서브메뉴 ol */
.smenu ol{
    padding: 15px;
    padding-top: 0;
}

.smenu a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #FFF2F2;
    text-decoration: none;
    line-height: 35px;
    transition: 0.2s;
}

/* 서브메뉴 오버시 */
.smenu a:hover{
    background: #EF9F9F;
    color: rgb(0, 0, 0);
}

/* map */
.map{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.map iframe{  
  width: 95%;
  border-radius: 10px;
  margin: 0.5%;
}
/* gnb end */

/* swiper start */
html, body, main, .cont, .info{
position: relative;
}

.swiper {
width: 100vw;
height: 50vw;
user-select: none;
-webkit-user-drag: none;
margin-top: 32px;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

:root{
    --swiper-theme-color: red;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
}

.swiper-wrapper .swiper-slide:nth-child(6) img,
.swiper-wrapper .swiper-slide:nth-child(7) img,
.swiper-wrapper .swiper-slide:nth-child(8) img,
.swiper-wrapper .swiper-slide:nth-child(9) img {
    object-position: center;
    }
/* swiper end */

/* news start */
.biandaon .ff{
    /* height: auto; */
    /* background-color: #fff; */
    display: flex;
    width: 100vw;
}

.ff{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    display: none;
}

.news{
    border-radius: 10px;
    border: 1px solid rgb(109, 0, 0);
    width: 98vw;
    margin-top: 20px;
  }

.news:last-child{
  margin-bottom: 10px;
}
  
.nt{
    text-align: center;
    font-size: 2rem; 
    margin: 10px 0px;
    font-family: 'Gugi', cursive;
  }
  
  .nct{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  
  .nct a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    z-index: 9;
    margin: 2px 0;
    padding: 5px 0;
    border-bottom: 2px dashed black;
  }
  
  .nct a:first-child, .nct a:last-child{
    border: none;
  }
  
  .nct a:hover{
    text-decoration: underline;
  }
  
  .nct img{
    width: 90vw;
    height: 48vw;
    border: 3px solid rgb(255, 109, 24);
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .nct span{
    line-height: 1.3;
    margin-top: 5px;
  }
/* news end */

/* school information start */
.biandaon2 .newspaper, .biandaon2 .bianda2{
    display: block;
  }
  
  .newspaper{
    background: url(../img/newspaper.png);
    padding-bottom: 100px;
    display: none;
    width: 100vw;
  }
  
  .newspaper .date{
    position: relative;
    width: 95%;
    border-bottom: 2px solid black;
    text-align: right;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .daily{
    text-align: center;
    position: relative;
    top: 6vh;
  }
  
  .daily span{
    font-weight: bold;
    font-size: 5rem;
  }
  
  .cate{
    width: 95%;
    height: 30px;
    background-color: #000;
    position: relative;
    left: 50%;
    transform: translate(-50%, 6vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  
  .catee{
    color: #ff0442;
  }
  
  .ncont img{
    width: 50%;
    position: relative;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ncont{
    /* column-count: 4; */
    position: relative;
    width: 95%;
    left: 50%;
    transform: translate(-50%, 7.3vh);
    font-weight: bold;
    line-height: 1.3;
    text-align: justify;
    word-break: break-all;
    overflow: hidden;
    font-size: 16px;
  }
  
  .tit{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0px 0px 1px #720000;
    margin: 20px 0;
  }
  
  table{
    transform: translateY(15px);
  }

  table, th, td, tr{
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
/* school information end */

/* school xuanyao start */
.biandaon3 .bianda3, .biandaon3 .xuanyao{
  display: block;
  /* left: -1.5vw; */
}

.xuanyao{
  width: 100vw;
  z-index: 99;
  display: none;
}

/* iden start */
.iden{
  display: flex;
  flex-direction: column;
  /* height: 200vw; */
  align-items: center;
}

.iden1, .iden2, .iden3{
  width: 95vw;
  background-color: rgb(255, 211, 153);
  border-radius: 10px;
  border: 1px solid rgb(255, 134, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
.iden1 span:first-child, .iden2 span:first-child, .iden3 span:first-child{
  font-size: 2.5rem;
  font-weight: bold;
}

/* iden end */

/* teach start */
.teach{
  text-align: center;
}

.teach .penta{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.teach span:first-child{
  font-size: 2.5rem;
}

.teach .penta div{
  width: 45vw;
  height: 25vw;
  background-color: rgba(255, 192, 203, 0.363);
  margin: 10px 0;
  border-radius: 10px;
}

.teach .penta .rac{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.6rem;
}

/* .teach .penta .rac span, .teach .penta .rac i{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */


.teach div:nth-child(3){
  width: 95%;
  height: 30vw;
  background-color: white;
}

.teach div:nth-child(3) span{
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: rgba(255, 60, 60, 0.445);
  display: inline-block;
  line-height: 30vw;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* teach end */

/* jianzhu start */
.jianzhu{
  width: 100vw;
  height: 150vw;
}

.jianzhu ul{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

/* .jianzhu ul>li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s;
}

.jianzhu ul>li:hover::before {
  opacity: 0;
} */

.jianzhu ul>li:nth-child(1) {
  background: url(../img/renwenlou_blue.png) no-repeat;
  /* background-position-x: 48%; */
  background-size: cover;
}
.jianzhu ul>li:nth-child(2) {
  background: url(../img/jingji_red.png) ;
  /* background-position-x: 90%; */
  background-size: cover;
  
}
.jianzhu ul>li:nth-child(3) {
  background: url(../img/renda_yellow.png) ;
  /* background-position-x: 60%; */
  background-size: cover;
}
.jianzhu ul>li:nth-child(4) {
  background: url(../img/muse_green.png) ;
  background-position-y: 40%;
  background-size: cover;
}
.jianzhu ul>li:nth-child(5) {
  background: url(../img/liber_white.png) ;
  background-position-y: 50%;
  background-size: cover;
}

.jianzhu ul li{
  position: relative;
  flex: 1;
  transition: .3s ease-in-out;  
  background-size: cover;
}

.jianzhu ul>li:hover {
  flex: 3;
}

.jianzhu ul li:nth-child(1) .rbox span{
  text-shadow: 0px 0px 5px rgba(0, 47, 255, 0.589);
}

.jianzhu ul li:nth-child(2) .rbox span{
  top: 38%;
  text-shadow: 0px 0px 5px rgba(255, 29, 29, 0.411);
}

.jianzhu ul li:nth-child(3) .rbox span{
  text-shadow: 0px 0px 5px rgba(225, 0, 255, 0.411);
}

.jianzhu ul li:nth-child(4) .rbox span{
  text-shadow: 0px 0px 5px rgba(0, 99, 25, 0.411);
}

.jianzhu ul li:nth-child(5) .rbox span{
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.411);
}

.ubox{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-family: 'Song Myung', serif;
}
/* jianzhu end */
/* school xuanyao end */

/* <!-- glowtxt start --> */
.gt{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-shadow: 0px 0px 5px rgb(255, 219, 219);
  animation: gtAni 1s ease-in-out  infinite  alternate;
  height: calc( 100vh - 250px - 53vw);
  line-height: calc( 100vh - 250px - 60vw);
}

@keyframes gtAni {
  to{
    text-shadow: 0px 0px 5px red;
  }
}
/* <!-- glowtxt end --> */

/* footer */
footer{
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.info{
  width: 100%;
  color: #fff;
  font-size: 10px;
  justify-content: space-around;
  display: flex;
  background-color: #000;
}

.flex{
display: flex;
flex-direction: column;
align-items: center;
background-color: #000;
width: 100%;
}

.add, .mnu{
display: flex;
flex-direction: column;
align-items: start;
margin-top: 15px;
}

.add{
  font-size: 1.4rem;
}

.add span{
  margin-top: 15px;
}

.uli{
display: flex;
}

.uli>li{
margin-left: 15px;
font-size: 1.4rem;
}

.uli li a{
color: #fff;
}

.add span:last-child{
  /* font-size: 1.2rem; */
  color: rgb(126, 126, 126);
}

.add span:nth-child(3){
  color: #fff;
}
.add:last-child{
  align-items: center;
}

.coco{
cursor: pointer;
color: rgb(131, 131, 131);
}

.pb{
  padding-bottom: 10px;
}


/* bian flex start */
.bianflex{
  display: flex;
  justify-content: space-evenly;
  height: auto;
  position: relative;
}
/* bian flex end */

/* bianda start */
.bianda, .bianda2, .bianda3{
  margin: 20px 0 0 0;
  width: 30vw;
  height: 50px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  font-weight: bold;
  transition: .2s;
  user-select: none;
  -webkit-user-drag: none;
}

.bianda .bigtitle, 
.bianda2 .bigtitle, 
.bianda3 .bigtitle{
  white-space: nowrap;
  display: block;
  pointer-events: auto;
}

.bianda{
  background-color: #FFCC1D;
}
.bianda2{
  background-color: #116530;
}
.bianda3{
  background-color: #E8E8CC;
}

.biandaon,
.biandaon2,
.biandaon3{
  position: relative;
}

.biandaon footer,
.biandaon2 footer,
.biandaon3 footer{
  position: relative;
}

.biandaon .gt,
.biandaon2 .gt,
.biandaon3 .gt{
  display: none;
}

.biandaon .bianda,
.biandaon2 .bianda2,
.biandaon3 .bianda3{
  border-radius: 10px;
  width: 100vw;
  z-index: 99;
  position: relative;
  height: auto;
  pointer-events: none;
}

.biandaon .bianflex{
  justify-content: flex-start;
}

.biandaon3 .bianflex{
  justify-content: flex-end;
}

.biandaon .bianda::before,
.biandaon2 .bianda2::before,
.biandaon3 .bianda3::before{
  content: '×';
  position: absolute;
  left: 40%;
  top: -4px;
  font-size: 3rem;
  /* background-color: #000; */
  width: 100vw;
  color: #fff;
  display: block;
  text-shadow: 0px 0px 2px #000;
}
.biandaon .bianda::after,
.biandaon2 .bianda2::after,
.biandaon3 .bianda3::after{
  content: '×';
  position: relative;
  font-size: 3rem;
  background-color: #000;
  width: 100vw;
  color: #fff;
  display: block;
  pointer-events: auto;
  border-bottom: 1px solid #fff;
}

.biandaon .bianda .ff,
.biandaon2 .bianda2 .newspaper,
.biandaon3 .bianda3 .xuanyao{
background-color: #fff;
position: relative;
}

.biandaon main, 
.biandaon2 main,
.biandaon3 main
{
  height: auto;
}

.biandaon .bianda .ff .news .nct a{
  pointer-events: auto;
}
/* bianda end */