@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Gugi&family=Hi+Melody&family=Song+Myung&display=swap');

/* 
font-family: 'Playfair Display', serif;
font-family: 'Hi Melody', cursive;
font-family: 'Song Myung', serif;
font-family: 'Gugi', cursive;
*/

html, body{
    overflow-x: hidden;
}
.head{
    width: 100vw;
    height: 30px;
    background-color: rgb(255, 139, 139);
    border-bottom: 2px solid #fff;
}

.logo{
    margin-left: 10px;
}
.logo a img{
    height: 30px;
}
.logo a span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #8a0017; 
    position: absolute;
    padding: 0 5px;
}

.ham{
    display: block;
    width: 22px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
}
.ham span{
    width: 22px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    transition: .3s;
}

.ham span:nth-child(2){
    top: 12px;
}

.ham span:nth-child(3){
    top: 20px;
    width: 16px;
    left: 6px;
}

body.on .ham span:nth-child(1){
    rotate: 45deg;
    width: 22px;
    top: 13px;
}
body.on .ham span:nth-child(2){
    opacity: 0;
}
body.on .ham span:nth-child(3){
    rotate: -45deg;
    width: 22px;
    top: 13px;
    left: 0px;
}

/* gnb start */
.gnb{
    position: absolute;
    transition: .3s;
    left: 100%;
    opacity: .5;
    z-index: 999;
}

body.on .gnb{
    left: 0%; 
    opacity: 1;
}

.def{
  cursor: default;
}

/* search */
.search{
    background-color: rgb(255, 93, 93);
    text-align: center;
}

.search input{
  text-transform: uppercase;
  text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px 0 10px 32px;
}

.search button{
    height: 17px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.search button i{
    color: rgb(190, 0, 0);
}

/* navi */
.navi {
    margin-top: 0px;
    background-color: #FFF2F2;
    z-index: 999;
    width: 100vw;
    height: calc(100vh - 70px);
}

.navi>ul>li{
    width: 100%;
    text-align: center;
}

/* li vertical line */
.navi>ul>li+li::before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    margin-left: 5px;
}

/* li a */
.navi>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    transition: .4s; 
}

/* a:hover */
.navi>ul>li:hover>a{
    background-color: rgb(139, 0, 0);
    color: #FFF2F2;
}

/* text underline */
.navi>ul>li>a>span, .mnu>ul>li>a{
    position: relative;
}

/* text underline */
.navi>ul>li>a>span::after, .mnu>ul>li>a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: width .2s ease-out;
}

/* 상위메뉴 오버시 가상요소 밑줄애니 */
.navi>ul>li:hover>a>span::after, .mnu>ul>li:hover>a::after{
    width: 100%;
    transition-delay: 0.3s;
}

/* 서브메뉴 */
.smenu{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgb(139, 0, 0);
    transition: 0.3s;
}

/* 상위메뉴 li 오버시 서브메뉴 보이기 - 2번 li */
.navi>ul>li:nth-child(2):hover .smenu{
    height: 115px;  
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 3번 li */
.navi>ul>li:nth-child(3):hover .smenu{
    height: 185px;
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 4번 li */
.navi>ul>li:nth-child(4):hover .smenu{
    height: 85px;
}

/* 서브메뉴 ol */
.smenu ol{
    padding: 15px;
    padding-top: 0;
}

.smenu a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #FFF2F2;
    text-decoration: none;
    line-height: 35px;
    transition: 0.2s;
}

/* 서브메뉴 오버시 */
.smenu a:hover{
    background: #EF9F9F;
    color: rgb(0, 0, 0);
}

/* map */
.map{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.map iframe{  
  width: 95%;
  border-radius: 10px;
  margin: 0.5%;
}
/* gnb end */

/* swiper start */
html, body, .cont {
position: relative;
height: 100%;
}

body {
margin: 0;
padding: 0;
}

.swiper {
width: 100vw;
height: 50vw;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

:root{
    --swiper-theme-color: red;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
}

.swiper-wrapper .swiper-slide:nth-child(6) img,
.swiper-wrapper .swiper-slide:nth-child(7) img,
.swiper-wrapper .swiper-slide:nth-child(8) img,
.swiper-wrapper .swiper-slide:nth-child(9) img {
    object-position: center;
    }
/* swiper end */

/* news start */
.bianda{
    width: 50px;
    height: 50px;
    background-color: red;
}

.biandaon .bianda{
    width: 100%;
    z-index: 99;
}

.biandaon .ff{
    opacity: 1;
    width: 100%;
    /* background-color: #fff; */
}

.ff{
    transition: .5s;
    opacity: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 0;
    /* height: 0; */
}

.news{
    border-radius: 10px;
    border: 1px solid rgb(109, 0, 0);
    width: 48vw;
    margin-top: 20px;
  }

  .news:last-child{
    width: 98%;
  }

  /* .news::-webkit-scrollbar {
    width: 5px;
  }
  .news::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .news::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  } */
  
.nt{
    text-align: center;
    font-size: 2rem; 
    margin: 10px 0px;
    font-family: 'Gugi', cursive;
  }
  
  .nct{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  
  .nct a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    z-index: 9;
    margin: 2px 0;
    padding: 5px 0;
    border-bottom: 2px dashed black;
  }
  
  .nct a:first-child, .nct a:last-child{
    border: none;
  }
  
  .nct a:hover{
    text-decoration: underline;
  }
  
  .nct img{
    width: 30vw;
    height: 18.8vw;
    border: 3px solid rgb(255, 109, 24);
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .nct span{
    line-height: 1.3;
    margin-top: 5px;
  }
/* news end */

/* school information start */

.newspaper{
    background: url(../img/newspaper.png);
    padding-bottom: 100px;
  }
  
  .newspaper .date{
    position: relative;
    width: 95%;
    border-bottom: 2px solid black;
    text-align: right;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .daily{
    text-align: center;
    position: relative;
    top: 6vh;
  }
  
  .daily span{
    font-weight: bold;
    font-size: 5rem;
  }
  
  .cate{
    width: 95%;
    height: 30px;
    background-color: #000;
    position: relative;
    left: 50%;
    transform: translate(-50%, 6vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  
  .catee{
    color: #ff0442;
  }
  
  .ncont img{
    width: 50%;
    position: relative;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ncont{
    /* column-count: 4; */
    position: relative;
    width: 95%;
    left: 50%;
    transform: translate(-50%, 7.3vh);
    font-weight: bold;
    line-height: 1.3;
    text-align: justify;
    word-break: break-all;
    overflow: hidden;
    font-size: 16px;
  }
  
  .tit{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0px 0px 1px #720000;
    margin: 20px 0;
  }
  
  table{
    transform: translateY(15px);
  }

  table, th, td, tr{
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
/* school information end */