@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Hi+Melody&family=Song+Myung&display=swap');


/* 
font-family: 'Hi Melody', cursive;
font-family: 'Song Myung', serif;
font-family: 'Gugi', cursive;
*/

html, body{
  font-size: 10px;
}

.navi1{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999;
  transform: scaleX(-1);
}

.navi1 span{
  display: block;
  width: 30px;
  height: 1px;
  margin: 5px 5px 5px 0;
  background-color: rgb(255, 0, 0);
  border: 1px solid #FF005C;
  transition: .3s ease-out;
  position: relative;
  border-radius: 5px;
}

/* page navi */
[class*="fp-viewing-0"] .nav1, [class*="fp-viewing-1"] .nav2, [class*="fp-viewing-2"] .nav3{
  width: 40px;
  left: 2px;
}

.navi1 span:last-child{
  background-color: rgb(0, 0, 0);
  width: 25px;
}

[class*="fp-viewing-3"] .nav4{
  width: 40px !important;
}


/* fullpage area */
.fullpage{
    position: relative;
    z-index: 0;
}

.slide{
  position: relative;
}

/* arrow */
.fp-controlArrow{
    scale: .5;
}

.fp-controlArrow.fp-prev{
    border-color: transparent #f00 transparent transparent;
    transition: .3s;
}

.fp-controlArrow.fp-next{
    border-color: transparent transparent transparent #f00;
    transition: .3s;
}

.fp-controlArrow.fp-prev:hover{
  border-color: transparent #EEEBDD transparent transparent;
  scale: .6;
}

.fp-controlArrow.fp-next:hover{
  border-color: transparent transparent transparent #EEEBDD;
  scale: .6;
}

/* gnb */
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }

  .menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;

    background-color: #ffffff;
    color: #fff;
  }

  .content {
    width: 100%;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 999;
    scale: .7;
  }

  .menu-button .bar{
    background-color: red;
  }

  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
  }

  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .bar {
    position: relative;
    display: block;

    width: 50px;
    height: 5px;

    margin: 10px auto;
    background-color: #fff;

    border-radius: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
  }

  .menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
  }

  .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
  }

  .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }

  .cross .bar:nth-of-type(2) {
    opacity: 0;
  }

  .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
  }

  .cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
  }

  .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
  }

  /* menu */
.menu{
    background-color: #F47C7C;
}

.logo img{
    padding: 10px 0;
    height: 50px;
    width: 50px;
}

.def{
  cursor: default;
}

/* search */
.search input{
  text-transform: uppercase;
  text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.search button{
    height: 17px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.search button i{
    color: rgb(190, 0, 0);
}

/* navi */
.navi {
    margin-top: 0px;
    background-color: #FFF2F2;
    z-index: 999;
    width: 100%;
    height: 100vh;
}

.navi>ul>li{
    width: 100%;
    text-align: center;
}

/* li vertical line */
.navi>ul>li+li::before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    margin-left: 5px;
}

/* li a */
.navi>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    transition: .4s; 
}

/* a:hover */
.navi>ul>li:hover>a{
    background-color: rgb(139, 0, 0);
    color: #FFF2F2;
}

/* text underline */
.navi>ul>li>a>span, .mnu>ul>li>a{
    position: relative;
}

/* text underline */
.navi>ul>li>a>span::after, .mnu>ul>li>a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: width .2s ease-out;
}

/* 상위메뉴 오버시 가상요소 밑줄애니 */
.navi>ul>li:hover>a>span::after, .mnu>ul>li:hover>a::after{
    width: 100%;
    transition-delay: 0.3s;
}

/* 서브메뉴 */
.smenu{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgb(139, 0, 0);
    transition: 0.3s;
}

/* 상위메뉴 li 오버시 서브메뉴 보이기 - 2번 li */
.navi>ul>li:nth-child(2):hover .smenu{
    height: 115px;  
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 3번 li */
.navi>ul>li:nth-child(3):hover .smenu{
    height: 185px;
}
/* 상위메뉴 li 오버시 서브메뉴 보이기 - 4번 li */
.navi>ul>li:nth-child(4):hover .smenu{
    height: 85px;
}

/* 서브메뉴 ol */
.smenu ol{
    padding: 15px;
    padding-top: 0;
}

.smenu a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #FFF2F2;
    text-decoration: none;
    line-height: 35px;
    transition: 0.2s;
}

/* 서브메뉴 오버시 */
.smenu a:hover{
    background: #EF9F9F;
    color: rgb(0, 0, 0);
}


/* map */
.map{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 95px;
}

.map iframe{  
  width: 95%;
  border-radius: 5%;
  margin: 2%;
}
/* gnb end */




/* intro */

.section{
  width: 100vw;
  height: 100vh !important;
}

/* slide1 */
.slide1{
    background-image: url(../img/85.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.txt1{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32vh;
  left: 5vw;
  font-family: 'Song Myung', serif;
}

.txt1 span{
  text-shadow: 2px 2px 5px black;
  color: #e6ca7e;
  font-size: 4rem;
  margin: 30px;
  /* font-weight: bold; */
}

.txt2{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60vh;
  right: 13.5vw;
  font-family: 'Song Myung', serif;
}

.txt2 span{
  color: #c50002;
  font-size: 2.8rem;
  margin: 8px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.txt2 span:last-child{
  font-size: 2.2rem;
}

.scr{
  position: absolute;
  width: 20px;
  height: 35px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 45%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}

.wheel{
  position: absolute;
  width: 2px;
  height: 6px;
  border-radius: 25%;
  background-color: #fff;
  left: calc(50% - 1px);
  top: 5px;
  animation: scroll 2s cubic-bezier(.15,.41,.69,1) infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(8px); opacity: 0;}
}

/* slide2 */
.slide2{
  background: url(../img/newspaper.png);
  /* background-size: cover; */
}

.newspaper{
  scroll-behavior: auto;
}

.slide2 .date{
  position: absolute;
  width: 75%;
  border-bottom: 2px solid black;
  text-align: right;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.daily{
  text-align: center;
  position: relative;
  top: 6vh;
}

.daily .nlogo{
  position: absolute;
  display: inline;
  left: 13%;
  top: 10px;

}

.daily .nlogo img{
  width: 7.8rem;
  padding: 0;
}

.daily span{
  font-weight: bold;
  font-size: 10rem;
}

.cate{
  width: 75%;
  height: 30px;
  background-color: #000;
  position: relative;
  left: 50%;
  transform: translate(-50%, 6vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.catee{
  color: #ff0442;
}

.ncont img{
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.ncont{
  column-count: 4;
  position: relative;
  width: 75%;
  left: 50%;
  transform: translate(-50%, 8vh);
  /* height: 75vh; */
  font-weight: bold;
  line-height: 1.3;
  text-align: justify;
  word-break: break-all;
  overflow: hidden;
}

.tit{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0px 0px 1px #720000;
  margin: 20px 0;
}

table, th, td, tr{
  border: 1px solid black;
  font-size: 1.6rem;
  text-align: center;
}




/* .slide3{
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.753) ),url(../img/building.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
} */

/* slide4 */
.slide4{
  background-color: #F0EBE3;
}

.slide4 .cir{
  border-radius: 50%;
  position: absolute;
  opacity: .7;
  transition: .3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide4 .cir:hover{
  opacity: 1;
}

.cir img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.slide4 .cir:hover{
  z-index: 2;
  scale: 1.1;
}

.cir span{
  font-size: 2.2rem;
  height: 2.2rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  line-height: 1.5;
}

.cir span:first-child{
  font-size: 3rem;  
}

.slide4 .cir1{
  width: 30vw;
  height: 30vw;
  left: 5%;
  bottom: 5%;
  background-image: linear-gradient( 45deg, #88E0EF, #161E54, #FF5151, #FF9B6A);
}

.slide4 .cir1 span{
  margin-top: -6.5vw;
  font-family: 'Song Myung', serif;
}

.cir1 img{
  width: 22vw;
  position: absolute;
  top: 40%;
}

.slide4 .cir2{
  width: 20vw;
  height: 20vw;
  background-image: linear-gradient( -135deg, #CDF0EA, #F9F9F9, #ECC5FB, #FAF4B7);
}

.slide4 .cir3{
  width: 40vw;
  height: 40vw;
  right: 0;
  bottom: 0%;
  background-image: linear-gradient( -100deg, #65C18C, #C1F4C5, #FFBED8, #FF7BA9);
  overflow: hidden;
}

.cir3 img{
  opacity: .2;
  height: 100%;
  border-radius: 50%;
}

.cir3:hover img{
  opacity: 1;
}

.slide4 .cir4{
  width: 25vw;
  height: 25vw;
  right: 35%;
  bottom: 0%;
  background-image: linear-gradient( 180deg, #544179, #6166B3, #32C1CD, #17D7A0);
  justify-content: space-evenly;
  font-family: 'Song Myung', serif;
}

.slide4 .cir5{
  width: 30vw;
  height: 30vw;
  top: 2%;
  left: 30%;
  background-image: linear-gradient( 45deg, #B9FFF8, #6FEDD6, #FF9551, #FF4A4A);
}

.redred{
  display: flex;
  justify-content: space-evenly;
}

.slide4 .cir5 img{
  width: 5vw;
  height: 5vw;
  position: relative;
  transform: translate(-300%, -50%);
}






/* slide5 */
/* .slide5{
} */

.tri{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.both .tri:nth-child(1){
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.both .tri:nth-child(2){
  width: 0px;
  height: 0px;
  border-left: 25vw solid transparent;
  border-right: 0vw solid transparent;
  opacity: .7;
}

.tri1 {
  background-image: url(../img/jiangke1.png);
}
.tri2 {
  border-top: 100vh solid #F7ECDE;
}
.tri3 {
  background-image: url(../img/jiangke2.png);
  left: 25%;
}
.tri4 {
  left: 25%;
  border-top: 100vh solid #E9DAC1;
}
.tri5 {
  background-image: url(../img/jiangke4.png);
  left: 50%;
}
.tri6 {
  left: 50%;
  border-top: 100vh solid #9ED2C6;
}
.tri7 {
  background-image: url(../img/jiangke3.png);
  left: 75%;
}
.tri8 {
  left: 75%;
  border-top: 100vh solid #54BAB9;
}

.both1:hover .tri2, .both2:hover .tri4, .both3:hover .tri6, .both4:hover .tri8{
  transform: translateX(100%);
}

.tri>span{
  font-size: 1.6vw;
  position: absolute;
  top: -96vh;
  right: 4vw;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  font-family: 'Song Myung', serif;
}

.tri>i{
  font-size: 7rem;
  position: absolute;
  top: -90vh;
  right: 10vw;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.slide6{
  width: 100%;
  height: 100%;
  /* background-color: #666; */
}

.slide6 ul{
  display: flex;
  width: 100%;
  height: 100%;
}

.slide6 ul>li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: .3s;
}

/* li에 마우스 오버시 반투명 커버 투명도0 */
.slide6 ul>li:hover::before {
  opacity: 0;
}

.slide6 ul>li:nth-child(1) {
  background: url(../img/renwenlou_blue.png) no-repeat;
  background-position-x: 48%;
  background-size: cover;
}
.slide6 ul>li:nth-child(2) {
  background: url(../img/jingji_red.png) ;
  background-position-x: 90%;
  background-size: cover;
  
}
.slide6 ul>li:nth-child(3) {
  background: url(../img/renda_yellow.png) ;
  background-position-x: 60%;
  background-size: cover;
}
.slide6 ul>li:nth-child(4) {
  background: url(../img/muse_green.png) ;
  background-position-x: 40%;
  background-size: cover;
}
.slide6 ul>li:nth-child(5) {
  background: url(../img/liber_white.png) ;
  background-position-x: 60%;
  background-size: cover;
}

.slide6 ul li{
  position: relative;
  flex: 1;
  transition: .3s ease-in-out;  background-size: cover;
}

.slide6 ul>li:hover {
  flex: 1.8;
}

.rbox{
  width: 70%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.274);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.rbox span{
  font-size: 3.2rem;
  white-space: nowrap;
  position: relative;
  top: 45%;
  /* font-weight: bold; */
  color: #fff;
  line-height: 1.2;
  font-family: 'Song Myung', serif;
}

.slide6 ul li:nth-child(1) .rbox span{
  text-shadow: 0px 0px 5px rgba(0, 47, 255, 0.589);
}

.slide6 ul li:nth-child(2) .rbox span{
  top: 38%;
  text-shadow: 0px 0px 5px rgba(255, 29, 29, 0.411);
}

.slide6 ul li:nth-child(3) .rbox span{
  text-shadow: 0px 0px 5px rgba(225, 0, 255, 0.411);
}

.slide6 ul li:nth-child(4) .rbox span{
  text-shadow: 0px 0px 5px rgba(0, 99, 25, 0.411);
}

.slide6 ul li:nth-child(5) .rbox span{
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.411);
}

.ubox{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  /* background: rgba(0, 0, 0, 0.397); */
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-family: 'Song Myung', serif;
}
/* gallery */
.slide7{
  background: url(../img/desk333.jpg) repeat;
}

.camera{
  position: absolute;
  left: -270px;
  top: -270px;
  opacity: .9;
}

.note{
  position: absolute;
  right: -150px;
  bottom: -150px;
  scale: 0.6;
}

.pen{
  position: absolute;
  right: -50px;
  bottom: -150px;
  scale: .8;
  opacity: .95;
}

.keyboard{
  position: absolute;
  right: -650px;
  top: -200px;
  scale: .6;
  rotate: 20deg;
  opacity: .9;
}

.photo{
  position: absolute;
  width: 15%;
  transition: .5s;
  text-align: center;
  /* border: 1px solid #000; */
}

.photo img{
  padding: 30px 15px 60px 15px;
  background-color: #fff;
  position: relative;
}


.photo span{
  font-family: 'Hi Melody', cursive;
  font-size: 3rem;
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 55%;
  width: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
}


.gal img{
  width: 100%;
  border: 1px solid rgb(77, 77, 77);
}
.gal .photo:nth-child(1){
  left: 25%;
  top: 15%;
  rotate: -13deg;
}
.gal .photo:nth-child(2){
  left: 15%;
  bottom: 10%;
  rotate: -17deg;
}
.gal .photo:nth-child(3){
  left: 25%;
  top: 5%;
  rotate: -20deg;
}
.gal .photo:nth-child(4){
  right: 25%;
  top: 10%;
  rotate: 10deg;
}
.gal .photo:nth-child(5){
  right: 22%;
  bottom: 7%;
  rotate: 2deg;
}
.gal .photo:nth-child(6){
  right: 50%;
  bottom: 10%;
  rotate: -35deg;
}
.gal .photo:nth-child(7){
  right: 40%;
  bottom: 40%;
  rotate: 12deg;
}
.gal .photo:nth-child(8){
  left: 7%;
  bottom: 35%;
  rotate: -7deg;
}
.gal .photo:nth-child(9){
  left: 2%;
  bottom: 5%;
  rotate: 7deg;
}

.gal .photo:hover{
  z-index: 9;
  rotate: 0deg;
  scale: 1.3;
}

.slide10{
  background-image: url(../img/renwenlou.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.ff{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.news{
  width: 18%;
  height: 80%;
  background-color: #ffffffd7;
  border-radius: 20px;
  transition: .3s;
}

.news:hover{
  scale: 1.1;
}

.news:nth-child(1){
  animation: newsAni1 4s linear 0s infinite alternate;
  border: 5px solid #000;
}
.news:nth-child(2){
  border: 5px solid rgb(255, 0, 0);
  animation: newsAni2 4s linear 0s infinite alternate;
}
.news:nth-child(3){
  border: 5px solid rgb(0, 247, 255);
  animation: newsAni3 4s linear 0s infinite alternate;
}
.news:nth-child(4){
  border: 5px solid #000;
  animation: newsAni4 4s linear 0s infinite alternate;
}
.news:nth-child(5){
  border: 5px solid #000;
  animation: newsAni5 4s linear 0s infinite alternate;
}

@keyframes newsAni1 {
  0%{
    border: 5px solid #CDF0EA;
    box-shadow: 0px 0px 5px #CDF0EA;
  }
  33%{
    border: 5px solid #F9F9F9;
    box-shadow: 0px 0px 5px #F9F9F9;
  }
  66%{
    border: 5px solid #ECC5FB;
    box-shadow: 0px 0px 5px #ECC5FB;
  }
  100%{
    border: 5px solid #FAF4B7;
    box-shadow: 0px 0px 5px #FAF4B7;
  }
}
@keyframes newsAni2 {
  0%{
    border: 5px solid #7FB77E;
        box-shadow: 0px 0px 5px #7FB77E;
  }
  33%{
    border: 5px solid #B1D7B4;
        box-shadow: 0px 0px 5px #B1D7B4;
  }
  66%{
    border: 5px solid #F7F6DC;
        box-shadow: 0px 0px 5px #F7F6DC;
  }
  100%{
    border: 5px solid #FFC090;
        box-shadow: 0px 0px 5px #FFC090;
  }
}
@keyframes newsAni3 {
  0%{
    border: 5px solid #F2D7D9;
            box-shadow: 0px 0px 5px #F2D7D9;
  }
  33%{
    border: 5px solid #D3CEDF;
            box-shadow: 0px 0px 5px #D3CEDF;
  }
  66%{
    border: 5px solid #9CB4CC;
            box-shadow: 0px 0px 5px #9CB4CC;
  }
  100%{
    border: 5px solid #748DA6;
            box-shadow: 0px 0px 5px #748DA6;
  }
}
@keyframes newsAni4 {
  0%{
    border: 5px solid #A7D2CB;
    box-shadow: 0px 0px 5px #A7D2CB;
  }
  33%{
    border: 5px solid #F2D388;
    box-shadow: 0px 0px 5px #F2D388;
  }
  66%{
    border: 5px solid #C98474;
    box-shadow: 0px 0px 5px #C98474;
  }
  100%{
    border: 5px solid #874C62;
    box-shadow: 0px 0px 5px #874C62;
  }
}
@keyframes newsAni5 {
  0%{
    border: 5px solid #B9FFF8;
    box-shadow: 0px 0px 5px #B9FFF8;
  }
  33%{
    border: 5px solid #6FEDD6;
    box-shadow: 0px 0px 5px #6FEDD6;
  }
  66%{
    border: 5px solid #FF9551;
    box-shadow: 0px 0px 5px #FF9551;
  }
  100%{
    border: 5px solid #FF4A4A;
    box-shadow: 0px 0px 5px #FF4A4A;
  }
}

.nt{
  text-align: center;
  font-size: 3rem; 
  /* font-weight: bold; */
  margin: 15px 0px;
  font-family: 'Gugi', cursive;
}

.nct{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}


.nct a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  z-index: 9;
  margin: 2px 0;
  padding: 5px 0;
  border-bottom: 2px dashed black;
}

.nct a:first-child, .nct a:last-child{
  border: none;
}

.nct a:hover{
  text-decoration: underline;
}


.nct img{
  width: calc(100% - 6px);
  height: 20vh;
  border: 3px solid rgb(255, 109, 24);
  border-radius: 5px;
}

.nct span{
  line-height: 1.3;
  margin-top: 5px;
}



  /* footer */
.footer{
    height: 100px !important;
    background-color: #000;
}

.info{
  width: 100%;
  color: #fff;
  font-size: 10px;
  height: 100px !important;
  justify-content: space-around;
  display: flex;
}

.flex{
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100%;
}

.add, .mnu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #666;
}

.add{
  align-items: flex-start;
}

.add span:first-child{
  font-size: 1.4rem;color: #fff;
}
.add span:last-child{
  font-size: 1.2rem;
}

.mnu{
  align-items: flex-end;
}

.mnu span{
  font-size: 1.2rem;
}

.uli{
  display: flex;
}

.uli>li{
  margin-left: 15px;
  font-size: 1.4rem;
}

.uli li a{
  color: #fff;
}

.swiper-slide{
  text-align: start;
}

.coco{
  cursor: pointer;
}

.cococo{
  font-size: 1rem !important;
  color: #fff;
}