@charset "utf-8";

/* 로봇 PJ css - robot.css */

/* 공사중표시 */
body *{
    outline: 2px dashed lime;
}


/* 초기화 */
html, body, h1, h2, h3, ul, ol{
    margin: 0;
    padding: 0;
}

body{
    height: 3000px;
    /* 배경: 색이반고윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공통class */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
    border-radius: 100px 100px 150px 150px;
}
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}









/************************************** 1. 상단영역 **************************************/

/************************************** 2. 메인영역 **************************************/

/************************************** 2-1. 로봇박스 **************************************/
.robx{
    padding-top: 200px;
    padding-bottom: 400px;
}
/* 하위요소 이미지 배경 공통설정 */
.robx>div>div{
    /* 앱솔루트 포지션 */
    position: absolute;
     /* 배경공통설정 */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}



/************************************** 2-1-1. 로봇 머리 **************************************/
.head{
    width: 200px;
    height: 220px;
    margin: 0 auto;
    /* 마영오는 블록가로중앙 */
    position: relative;
    /* 부모자격 */
}

/* 머리카락 */
.hair{
    background-image: url(../images/metal02.jpg);
    width: 200px;
    height: 55px;
    border-radius: 80px 80px 0px 0px;
    
}

/* 눈공통 */
.eye{
    width: 50px;
    height: 50px;
    /* 배경공통설정 */
    border-radius: 50% 50% 30% 30%;
    /* 둥근모서리 */
    /* 보더 이중선 */
    border: 4px double #000;

}

/* 왼눈 */
.e1{
    background-image: url(../images/leftleft.jpg);
    top: 60px;
    left: 30px;
}

/* 오른눈 */  
.e2{
    background-image: url(../images/eyeeeeee.jpg);
    top: 60px;
    right: 30px;
}

/* 코 */
.nose{
    top: 110px;
    left:85px;
    width: 30px;
    height: 30px;
    background-image: url(../images/nosenose.jpg);
    border-radius: 15px;
    background-position-x: 0px !important;
}

/* 입 */
.mouth{
    background-image: url(../images/mouthmpoo.jpg);
    width: 60px;
    height: 40px;
    bottom: 30px;
    left: 70px;
}

/* 귀공통 */
.ear{
    width: 20px;
    height: 60px;
    top: 60px;
}

/* 왼귀 */
.el{
    background-image: url(../images/metal02.jpg);
    border-radius: 20px 50px 0 80px;
    left: -20px;
}

/* 오른귀 */
.er{
    border-radius:  50px 20px 80px;
    right: -20px;
}

/************************************** 2-1-2. 로봇몸 **************************************/
.body{
    width: 250px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

/* 목 */
.neck{
    width: 40px;
    height: 30px;
    left: 105px;
    top: -30px;
}

/* 공통 팔 */
/* important 없이 우선 순위 높이는 방법은 부모를 써준다. */
.arm{
    width: 40px;
    height: 250px;
    background-size: 100%;
    background-repeat: repeat-y;
    border-radius: 20%;
}

/* 가상요소로 손 만들기 */
.arm::before{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(185, 185, 185);
    bottom: -30px;
    border: 1px solid #333;

/* css3 그라데이션 */
/* background-image: linear-gradient(45deg, black, rgb(145, 145, 221) 70%, gray); */
/* background-image: radial-gradient(circle, rgb(255, 255, 255), gray, black); */

background-image: radial-gradient(farthest-side at 20px 20px, rgb(255, 255, 255), rgb(128, 128, 128));


}
/* [배경이미지에 있다. 뭐가? 그라데이션 */
/* [ 선형 그라데이션 ]
예)
linear-gradient(방향, 각도, 색 비율%, 색2 비율%, ... ...);
방향값은 to top, to bottom, to left, to right
-각도는 숫자 deg
-> 방향 또는 각도를 사용, 안 쓰면 to bottom 기본값
-> 색상을 쓰고 뒤에 필요한 경우 비율을 사용
-> 색상 뒤 비율을 안 쓰면 등분할 됨.
*/

/* [ 원형 그라데이션 ]
예)
background-image: radial-gradient(circle, rgb(255, 255, 255), gray, black);
radial-gradient(옵션, 색1 비율%, 색2 비율%);
-옵션: circle - 원형, 안쓰면 박스에 맞춤
-세밀한 옵션주기
(특정위치를 중심으로 빛반사효과)
    ->>> 세부옵션 at 가로위치 세로위치
    ->>> 세부옵션 종류 4가지:
    1) closest-side / 2)farthest-side
    3) closest-corner / 4)farthest-corner
예) radial-gradient(closest-corner at 30px 15px, white, blue)

-> 가로, 세로 위치는 px, % 단위 사용가능
-> 색상을 쓰고 뒤에 필요한 경우 비율을 사용
-> 색상 뒤 비율을 안 쓰면 등분할 됨.
*/

/* 왼팔가상요소 */
.a1::before{
    left: -13px;
}

/* 오른팔가상요소 */
.a2::before{
    right: -13px;
}

/* 가상요소로 손 그림자 주기 */
.arm::after{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 35px;
    background-color: #000;
    bottom: -30px;
    border-radius: 10px 10px 5px 5px ;

    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

/* 클리핑기법을 사용하여 그림자를 삼각형으로 만들자
-> 다각형 클리핑 
clip-path: polygon(x1 y1, x2 y2, ...)
-> 소괄호 안은 비울 수 없다.
-> 각 좌표값은 px, %로 대상 내부영역임
예컨데 삼각형은 점을 3개 찍는다. 
*/

/* 왼팔가상요소 */
.a1::after{
    left: 8px;
}

/* 오른팔가상요소 */
.a2::after{
    right: 8px;
}


/* 왼팔 */
.a1{
top: 20px;
left: -30px;
}

/* 오른팔 */
.a2{
    right: -30px;
    top: 20px;
}

/* 공통 다리 */
.leg{
    width: 55px;
    height: 370px;
    background-size: 100%;
    background-repeat: repeat-y;
    border-radius: 20%;
}

/* 가상요소로 발 만들기 */

/* 발 공통 */
.leg::before{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 40px;
    background-image: radial-gradient(farthest-side at 20px 20px, rgb(255, 255, 255), rgb(128, 128, 128));
    border-radius: 30px 30px 0 0;
    /* 위쪽만 둘글게 보라보라 */
    bottom: -10px;
    border-bottom: 15px solid #333;
    left: -7px;
}

/* 왼발 */

/* 오른발 */




/* 왼다리 */
.l1{
    top: 300px;
    left: 10px;
}

/* 오른다리 */
.l2{
    right: 10px;
    top: 300px;
}

/* 어깨공통 */
.shd{
    width: 80px;
    height: 80px;
}

/* 왼어깨 */
.s1{
    left: -50px;
    top: -5px;
    border-radius: 50% 15px;
}

/* 오른어깨 */
.s2{
    border-radius: 15px 50%;
    right: -50px;
    top: -5px;   
}

/* TV */
.tv{
    width: 220px;
    height: 150px;
    top: 80px;
    left: 15px;
    border-radius: 10px;
    background-image: url(../images/tv.jpg);
}

.tv .screen{
    position: absolute;
    top: 10px;
    left: 14px;
    width: 152px;
    height: 118px;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 15px;
    overflow: hidden;
}

/* 아이프레임 */
.screen iframe{
    position: absolute;
    top: -40px;
    left: -62px;
    width: 187%;
    height: 170%;
    border: none;

}

/************************************** 2-2. 로봇 설명박스 **************************************/

/************************************** 3. 하단영역 **************************************/










