@charset "utf-8";

/* CGV PJ 메인페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(./core.css);
@import url(./reset.css);

body{
    background-color: #000;
}

/* 공사중표시 */
/* body *{
    outline: 1px dotted lime;
} */

/* 공통클래스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;
}


/**************************************************** 1. 상단영역 ****************************************************/
/* 속박스 */
.top{
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
    position: relative;
    /* 부모자격 - .gnb */
}

/* 1-1 로고 */
.tit {
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 그림자를 이용한 GLOW 효과 */
    text-shadow: 0 0 10px aquamarine;

    /* 애니 : 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
}

/* 타이틀 글로우효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 20px aquamarine;
    }
}

/* 1-2 GNB 메뉴 */
.gnb{
    position: absolute;
    bottom: 5px;
    right: 15px;
    /* 부모는? - .top */
    z-index: 999;
}

/* GNB ul */
.glist{
    display: flex;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}
/* GNB li 리스트 */
.glist>li{
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding: 0 10px;
    padding-bottom: 5px;
    /* 서브메뉴와 이어지게 하단공간 확장 */
}

/* gnb 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    /* 부모 - 싸고있는 li */

    width: 140px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
    /* 처음에 안보임 */
    display: none;
}

.glist>li:hover .smenu{
    display: block;
}

/* 가상요소로 서브메뉴 삼각형 만들기 */
.smenu::before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    /* 삼각형 만들기 */
    width: 0;
    height: 0;
    border-bottom: 10px solid#353535;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
    
}

/* 서브메뉴 li */
.smenu li{
    font-size: 16px;
    line-height: 2;
}

/* 서브메뉴 a요소 */
.smenu a{
    display: block;
    /* li요소 끝까지 차지 */
}

/* 서브메뉴 li에 마우스 오버시 글자색 빨강 */
.smenu a:hover{
    color: red;
}

/* 서브메뉴 a에 오버시 가상요소 이모지 보이기 */
/* 이보지는 윈도우키 + 세미콜론 단축키 */
/* "영화"하위메뉴 이모지 */
.glist>li:nth-child(1) .smenu li a:hover::after{
    content: '⏱';
    display: block;
    float: right;
    width: 10px;
    height: 10px;
}
.glist>li:nth-child(2) .smenu li a:hover::after{
    content: '🎁';
    display: block;
    float: right;
    width: 10px;
    height: 10px;
}
.glist>li:nth-child(3) .smenu li a:hover::after{
    content: '🎫';
    display: block;
    float: right;
    width: 10px;
    height: 10px;
}
.glist>li:nth-child(4) .smenu li a:hover::after{
    content: '👮‍♀️';
    display: block;
    float: right;
    width: 10px;
    height: 10px;
}

/* 서브메뉴 중 li 보더탑 구분선 class */
.bdt{
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
#cam{
    position: absolute;
    bottom: -9px;
    right: 0px;
}

/* 영사기 이미지 */
#cam img{
    width: 50px;
    position: relative;
    z-index: 1;
    /* 영사기 회전 */
    transform: rotate(25deg);
    transition: .5s ease-out .3s;
}

/* GNB에 마우스 오버시 영사기 회전하기 */
.gnb:hover #cam img{
    transform: rotate(0deg);
    transition: .5s ease-out;

}

/* 빔박스 */
.beam{
    position: absolute;
    top: -16px;
    right: 9px;
    width: 0; /* 200px-> 오버시 200 */
    height: 70px;
    /* outline: 1px dotted yellow; */
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    transition: width .3s linear;
    /* linear 등속도 */
    opacity: .9;
    
}

/* GNB에 마우스 오버시 영사기 쏘기 */
.gnb:hover .beam{
    width: 200px;
    transition: width .3s linear .5s;
    animation: beamAni .01s linear infinite alternate;
}

/* 빔이 너울거리도록 애니메이션 */
@keyframes beamAni {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.5;
    }
}

/* 영화보러 가는 길 애니박스 */
.goMV{
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;
    /* outline: 1px dashed yellow; */

    /* 원근설정 */
    perspective: 480px;

    
    cursor: pointer;
}

/* 글자커버 */
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/curtain.jpg) no-repeat;
    
    /* 글자설정 */
    font-family: 'Cute Font', cursive;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    text-align: center;

    /* 들여쓰기 */
    text-indent: -200%;
    overflow: hidden;

    /* 애니메이션 */
    animation: txtAni 3s cubic-bezier(0.18, 1.17, 0.91, -0.14) infinite;

    /* 트랜스폼 축변경 */
    transform-origin: top;

    /* 트랜지션 */
    transition: transform .6s ease-in-out ;

    z-index: 1;

}

/* 오버시 x축 회전하기 + 클래스 on일떄*/
.goMV:hover .cover, .goMV.on .cover{
    transform: rotateX(80deg);
    border: 1px solid aquamarine;
    box-sizing: border-box;
}

/* 텍스트 애니 키프레임 */
@keyframes txtAni {
    0%{
        text-indent: -200%;
    }
    /* 20%{
        text-indent: 0%;
    }
    80%{
        text-indent: 0%;
    } */
    100%{
        text-indent: 200%;
    }
}
/**************************************************** 2. 메인영역 ****************************************************/
/* 속박스 */
.cont{
    /* height: 788px; */
    /* 비율유지박스 높이값 불필요 */
    background: url(../images/bg.jpg) no-repeat top/100%;
    position: relative;
}
/* 비율유지 가상요소 */
.cont::before{
    content: '';
    display: block;
    padding-top: 65.66%;
    /* 블록 자식요소의 패딩탑을 %로 주면 부모박스 가로크기에 대한 비가 성립한다 */
    /* 100%는 1:1비율 
    
    [ 비율계산하기 ]
    이미지비율
    1200px : 799px = 100 : x
    x = 65.66%
     
    */
}

/* 2-1 스크린박스 */
#screen{
    position: absolute;
    top: 17.3%;
    left: 21.4%;
    width: 58.5%;
    height: 50.4%;
    /* background-color: #f00; */

}

/* 유튜브 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2 예고편 선택메뉴 */
.mlist{
    position: absolute;
    width: 54%;
    /* 비율유지박스 자식으로 %설정 */
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    /* 가로 정중앙이동 */
}

/* 예고편 ul */
.mlist ul{
    display: flex;
    /* 원근설정 */
    perspective: 480px;
}

/* 예고편 li */
.mlist>ul>li{
    position: relative;
    /* 부모자격!  */
    /* width: 99px;
    height: 140px; */
    flex: 1;
    transform: rotateX(30deg);
    /* 회전축 변경 */
    transform-origin: bottom;
    transition: transform .3s ease-out;
    /* 트랜지션 : 속시이지 */

    overflow: hidden;
    /* 부모자격이 있는 요소에서 숨기기가 적용됨
    중간에 자격이 없으면 숨기기줘도 소용이 없음 */
}

/* 오버시 + 클래스 on일때 아웃라인 보이기 / 일어나기 */
.mlist>ul>li.on,
.mlist>ul>li:hover{
    outline: 1px solid aqua;
    transform: rotateX(0deg);
    z-index: 1;
}

.mlist>ul>li+li{
    /* 앞에 li가 있는 형제 li만 */
    margin-left: 10px;
}

/* 이미지 크기 맞추기 */
.mlist img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지를 비율유지하여 박스에 채움 */
}

/* 영화정보박스 */
.movtxt{
    /* 수직방향 플랙스박스로 중앙정렬 */
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 100%;/* 높이값만큼 내려가 있음 */
    width: 100%;
    height: 100%;
    /* 부모는? 싸고있는 li*/

    /* 반투명 배경색 */
    background-color: rgba(0, 0, 0, 0.700);

    /* 글자세팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw,14px);
    /* 글자최대크기 14px, 보이는 가로크기 1.3% */
    line-height: 2;
    text-align: center;

    white-space: nowrap;



    /* 트랜지션 */
    transition: top .3s ease-out;
}

/* 마우스 li에 오버시 영화정보 보이기  */
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 첫번째 li 영화제목 */
.movtxt li:first-child{
    color: aqua;
    font-size: min(1.5vw,17px);
    /* 최대 17px, 화면가로의 1.5% */
    letter-spacing: -1px;
}

/* 애니박스 */
.anibx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 부모는 .goMV */

    /* 배경 */
    background-image: url(../images/street.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;

    animation: stAni 4s linear infinite;
}

@keyframes stAni {
    to{
        background-position-x: -136px;
    }
    
}

/* 걷는소년박스 */
.ani{
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/spAni03.png);
    /* 축소된 배경이미지 크기 계산
    1472:325 = x:80
    x= 362 -> 가로크기 362 
    */
    
    /* 장면넘기기 애니메이션 
        1. 키프레임 세팅법:
        1) x축 배경이동 세팅(값이 마이너스)
        background-position-x: -가로전체크기px;
        2) y축 배경이동 세팅
        background-position-y: - 세로전체크기px;
        (유의사항 : 이미지 크기가 변경되었다면 비례식으로 정확한 크기를 계산하여 쓸것)

        2. 애니메이션 호출법:

        1) x축 애니
        animation: 키프레임명 시간 steps(장면수) infinite;

        2) x,y축 애니
        animation: 
        x축키프레임명 시간 steps(장면수) infinite,
        y축키프레임명 시간 steps(줄수) infinite;
        x축 steps(장면수), y축 steps(줄수)

        -> steps(장면수)는 전체길이의 장면을 설정하여 한장면씩 화면에 찍어서 셀애니메이션이 되게하는 역할을 한다
        여기서는 이징이 필요없다.
    */


    background-size: auto 100%;

    /* outline: 2px dotted red; */

    animation: wAni 1s steps(8) infinite  ;
}

@keyframes wAni {
    to{
        background-position-x: -362px;
    }
    
}

/* 몬스터박스 */
/* 걷는소년박스 */
.ani2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../images/spAni02.png);
    background-size: 240px auto;
    /* 배경이미지 크기를 6장면 이니까 한개당 40px로 계산 */

    /* outline: 2px dotted blue; */
    animation: 
    monAniX 1s steps(6)infinite,
    monAniY 3s steps(3)infinite;
}

/* 몬스터 키프레임 - x, y축 따로 키프레임 작성 */
@keyframes monAniX {
    to{
        background-position-x: -240px;
    }
    
}
@keyframes monAniY {
    to{
        background-position-y: -120px;
    }
    
}

/* 구글 맵박스 */
.gmap{
    position: fixed;
    top: -50%;
    /* 처음에 위에 있음 */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    border: 20px solid lightgray;
    z-index: 9;
    border-radius: 10px;
    transition: top 1s cubic-bezier(0, 1.8, 1, 1);
}

/* 클래스 on을 줬을떄 위치이동설정 */
.gmap.on{
    top: 50%;
}

/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    
}

/**************************************************** 3. 하단영역 ****************************************************/
.info{
    height: 100px;
    position: relative;
}

/* 3-1 회사정보 */
.info address{
    color: #c3c3c3;
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 18px;
    line-height: 20px;
    /* 안쪽여백 */
    padding-top: 20px;
    padding-left: 20px;
}

/* 하단로고 이미지 */
.info img{
    float: left;
    /* 이미지 자신은 왼쪽, 글자는 오른쪽 */
    margin-right: 20px;
}

/* 3-2 sns 박스 */
.sns{
    position: absolute;
    top: 35px;
    right: 20px;
    display: flex;
}

.sns li{
    width: 34px;
    height: 34px;
    background: url(../images/sprites_logo.png) no-repeat; 
    margin: 0 3px;
    /* 필터 : 흑백적용 */
    filter: grayscale(100%);
    /* 손가락모양 */
    cursor: pointer;
}

/* 오버시 칼라 */
.sns li:hover{
    filter: grayscale(0);
}

/* 페이스북 */
.sns li:first-child{
    background-position: -510px -428px;
}

/* 인스타 */
.sns li:nth-child(2){
    background-position: -593px -428px;
}

/* 트위터 */
.sns li:last-child{
    background-position: -550px -428px;
}